<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.genrenciadorfinanceiro" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GenrenciadorFinanceiro" >
        <activity
            android:name=".activitys.Aplicacao.AplicacaoActivity"
            android:exported="true"
            android:label="@string/title_activity_aplicacao"
            android:theme="@style/Theme.GenrenciadorFinanceiro.NoActionBar" >
        </activity>
        <activity
            android:name=".activitys.login.CadastroActivity"
            android:exported="false"
            android:label="@string/title_activity_cadastro" />
        <activity
            android:name=".activitys.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>